.sfondo{
    height: 100vh;
    background-image: 
    linear-gradient(to bottom,
    #009688 0vh,
    #009688 15vh, 
    #dddbd1 15vh,  
    #d2dbdc 100vh);
}


.my_profile{
    width: 60px;

}

.my_bg_gr4y{
    background-color: lightgray;
}

.my_bg_4zur{
    background-color: #91D4FF;
}

.my_cl_4zur{
    color:  #91D4FF;;
}

.my_cl_gr4y{
    color: lightgray;
}

.my_cl_gr4y_2{
    color: #AFAFB2;
}

.my_cl_gr4y_3{
    color: #6B7277;
}

.my_f0ntS1{
    font-size: 0.9em;
}

.my_f0ntS2{
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

.my_bg_w4llp1{
    height: 65vh;
    background-image: url(./../img/mine.jpg);
}

.my_c0ntainer{
    width: 100%;
    height: 630px;
    margin: 0 auto;
}

ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sent{
    background-color: #CAFFBD;
}

.recived{
    background-color: wheat;
}